*.o
*.res
dist/
_clamav_cache/
_clamav_work/
clamdb_work/
src/*.o
src/app.res
carrotav.exe
defs/carrot.cdb
defs/system.cavb
*.cvd
*.swp
*~
.DS_Store
Thumbs.db
!updater/defupdate.exe
!tools/defupdate.exe
